{
  "singleQuote": true,
  "tabWidth": 2,
  "bracketSameLine": true,
  "bracketSpacing": true,
  "jsxSingleQuote": true,
  "useTabs": false,
  "singleAttributePerLine": true,
  "trailingComma": "all"
}
